<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= author.nationality %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= author.biography %>
  </p>

</div>
